* {
  margin: 0;
}

body{
  overflow-y:hidden;
  overflow-x:hidden;
}

@font-face{
  font-family: russoOne;
  src: url('./assets/fonts/RussoOne-Regular.ttf');
}

@font-face{
  font-family: telegramaPixel;
  src: url('./assets/fonts/telegrama_raw.otf');
}

@font-face{
  font-family: safety;
  src: url('./assets/fonts/SafetyMedium.otf');
}

@font-face{
  font-family: mechEffects;
  src: url('./assets/fonts/mecheffects2-bb.regular.ttf');
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.App {
  /*text-align: center;*/
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Tablet stuff */

#tablet{
  height:80vh;
  width:140vh;
  border:1vh solid #000;
  border-radius:5vh;
}

#tabletWrapper{
  height:inherit;
  width:inherit;
}

/* Landing */

.landingOverlay{
  height:inherit;
  width: inherit;
  background:slategrey;
  border:1vh solid black;
  border-radius:5vh;
  position:relative;
  top:-1vh;
  left:-1vh;
}
.landingMenu{
  height:inherit;
  width:95%;
  margin:auto;
  align-items:center;
  display:flex;
}

.landingGrid {
  display: grid;
  grid-template-areas:
  'rules contacts map stats chatroom settings'
  '. . . . . . '
  '. . . . . . ';
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 15.8% 15.8% 15.8% 15.8% 15.8% 15.8%;
  gap: 1%;
  padding:0;
  margin:auto;
  height:90%;
  width: 100%;
  align-items:stretch;
}

.appButton{
  max-width:100%;
  max-height:100%;
  background:none;
  border:none;
}
.appButton > p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:white;
  font-size:xx-large;
}
.appButton:hover > img{
  filter:brightness(0.8);
  background:#0003;
  border-radius:5%;
}
.appButton:hover > p{
  filter:brightness(0.8);
  border-radius:5%;
}
.appIcon{
  max-width:100%;
  max-height:100%;
}

.Rules{
  grid-area:rules;
}
.Contacts{
  grid-area:contacts;
}
.Map{
  grid-area:map;
}
.Stats{
  grid-area:stats;
}
.Chatroom{
  grid-area:chatroom;
}
.Settings{
  grid-area:settings;
}


/* ID Card */
#idcard {
  animation: fadeInAnimation ease 1s;
  animation-delay:0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

#idcard{
  margin:auto;
  width:105vh;
  height:70vh;
  perspective:1000px;
  border:transparent solid 10px;
  z-index:2;
}

#idflip {
  border:transparent solid 10px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin:auto;
  min-width:105vh;
  min-height:70vh;
  top:-10px;
  left:-10px;
}

#idcard.flipped #idflip {
  transform: rotateY(-180deg);
}

#idcard.flipped #idfront {
  animation: hide 0.8s;
  animation-fill-mode:forwards;
}

@keyframes hide {
  from {}
  to {visibility:hidden;}
}

#idfront, #idback{
  position:absolute;
  min-width:105vh;
  min-height:70vh;
  width:100%;
  height:100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top:-10px;
  left:-10px;
}


.grid-container > div > p > span{
  color:white;
}

.idgeo > p, .idbio1 > p, .idbio2 > p {
  color:rgb(170, 170, 170);
}

#idfront{
  border:#ff2272 solid 10px;
  background-size:cover;
}

#idcard{
  font-family: safety;
}

#idheader, .idlevel{
  font-family: russoOne;
  color:#c2ff03;
}

#idheader{
  position:absolute;
  display:flex;
  align-items:center;
  vertical-align: middle;
  margin:0.5%;
}

#idheader > h1{
  text-align:left;
  display:inline;
  margin-left:10px;
  font-size:6vh;
}

#idlogo{
  height:8vh;
}

#iddata{
  display:flex;
  width:100%;
  height:68vh;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom:2vh;
}

/* TODO: Nix this when on mobile */
#idportrait{
  margin-left:2%;
  max-height:85%;
  border: #c2ff03 solid 2px;
  border-radius:5%;
  background:#0004;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'title title title title title title stats stats'
    'level level level level level level phys phys'
    'geo geo geo geo geo geo mental mental'
    'bio1 bio1 bio1 bio2 bio2 bio2 murder murder'
    'likes likes likes likes dislikes dislikes dislikes dislikes';
  grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 2fr;
  gap: 1vh;
  height:85%;
  width:100%;
  padding:0;
  margin:0;
  margin-left:10px;
  margin-right:10px;
  align-items:stretch;
}

.grid-container > div {
  background: #0003;
  background-size: 100%;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.grid-container > .idlikes, .grid-container > .iddislikes {
  background-size: 100%;
  display:block;
}

.flexbreak{
  flex-basis:100%;
}

.grid-container > div > p{
  background-size: 100%;
  vertical-align:center;
  align-items:center;
}

.idtitle{
  grid-area: title;
  text-align: center;
  font-size:3vh;
  font-variant: small-caps;
}

.statsheader{
  font-variant: small-caps;
  grid-area: stats;
  text-align:center;
  font-weight:bold;
  font-size:4vh;
}

.stats{
  font-size:2vh;
}

.idlevel{
  grid-area: level;
  font-size:6vh;
  text-align:center;
}

.phys{
  grid-area: phys;
  text-align:center;
  color:#ff4885
}

.idgeo{
  grid-area: geo;
  text-align:center;
  font-size:2.5vh;
}

.mental{
  grid-area: mental;
  text-align:center;
  color: #ffc9d2;
}

.idbio1{
  grid-area: bio1;
  text-align:center;
  font-size:2.5vh;
}

.idbio2{
  grid-area: bio2;
  text-align:center;
  font-size:2.5vh;
}

.murder{
  grid-area: murder;
  text-align:center;
  color: #d1ec6e;
}

.idlikes, .iddislikes{
  padding-top:1vh;
  padding-bottom:1vh;
}

.idlikes{
  grid-area: likes;
  font-size:3vh;
  text-align:center;
  display:flex;
}

.iddislikes{
  text-align:center;
  grid-area: dislikes;
  font-size:3vh;
  display:flex;
}

/* TODO: Fucking fix the alignment here */

.idlikes > h3, .iddislikes > h3{
  position:relative;
  font-variant: small-caps;
}

.idlikes{
  color:#c2ff03;
}

.iddislikes{
  color:#ff2272;
}

.idlikes > p, .iddislikes > p{
  position:relative;
  font-size:2.5vh;
  text-align:center;
  padding: 0 1vh;
  padding-bottom:1vh;
  filter:saturate(0.2);
}

.iddislikes > p{
  filter:brightness(5);
}

#idback{
  transform: rotateY(-180deg);
  border:#ff2272 solid 10px;
  background-size:cover;
}

#idback > div{
  display:flex;
  align-items:stretch;
  flex-direction:column;
  margin:2%;
  margin-top:0;
  text-align:left;
}

#bioheader{
  margin: 3vh 0;
  padding: 1vh 0;
  padding-top: 2vh;
  font-variant: small-caps;
  color:#c2ff03;
  background-image:url('/public/bio_header.png');
  background-size:contain;
  /*background:#0005;*/
}

#bio{
  padding: 0 1vh;
  font-size:3vh;
}

.grid-container > div > p > span{
  font-variant: small-caps;
  font-size:3vh;
}

#idback > * > * > h1{
  text-align:center;
}

#flipButtonFront, #flipButtonBack{
  background:transparent;
  border:none;
  position:absolute;
  top:95%;
  left:101%;
  filter:brightness(0.5);
}

#closeButtonFront, #closeButtonBack{
  background:#0007;
  border:none;
  position:absolute;
  top:1%;
  right:1%;
  height:4vh;
  width:4vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.flipButton{
  visibility:hidden;
  animation-name:appearify;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
}

@keyframes appearify{
  from{}
  to{
    visibility:visible;
  }
}

#flipButtonFront:hover, #flipButtonBack:hover{
  filter:none;
}

#closeButtonFront:hover, #closeButtonBack:hover{
  background:#000;
}

#flipButtonFront > img, #flipButtonBack > img  {
  height:4vh;
}

#closeButtonFront > img, #closeButtonBack > img  {
  height:2vh;
}


/* Special cases */

.mai #idheader > h1{
  font-size:5vh;
}

.august #bio{
  font-size:2.8vh;
}

/* Cast Page */

#castOverlay {
  display:flex;
  align-items:center;
  justify-content:center;
  height:inherit;
  width:inherit;
  background:rgb(63, 65, 65);
  border:1vh solid black;
  border-radius:5vh;
  position:relative;
  top:-1vh;
  left:-1vh;
  /*-webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);*/
} /* World's worst position:fixed hack */
/* This is also terrible. I need to fix the stupid fucking border hack I'm using later */

#castOverlay > div{
  position:absolute;
}

#castContainer{
  height:80%;
  display:flex;
  align-items:center;
  z-index:0;
}

#castCover{
  visibility:hidden;
  position:fixed;
  transform:translateY(0) translateX(0);
  height:100vh;
  width:100vw;
  z-index:1;
  background-color: #0000;
  transition: background-color 0.5s;
}

#castCover.active{
  visibility:visible;
  background-color:#0003;
}

.square{
  position:relative;
  transition: height 1s, width 1s, top 1s, left 1s, filter 1s, visibility 1.5s, background-color 1s;
  height:20vh;
  width:20vh;
  top:0;
  left:0;
  align-items:center;
  text-align:center;
  background-color:#0003;
}

.square.loadOut{
  z-index:1;
}

.square.clicked{
  z-index:2;
  background-color:#b83967;
  visibility: hidden;
  transition: height 0.5s, width 0.5s, top 0.5s, left 0.5s, filter 0.5s, visibility 1.5s, background-color 0.5s;
}

/* Proper calculation for card relative to the grid

top: calc(-35vh - 10px);
left: calc(-52.5vh - 10px);*/

.rei.clicked{
  top: -5vh;
  left: 9vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.andrew.clicked{
  top: -5vh;
  left: -12vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.avery.clicked{
  top: -5vh;
  left: -33vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.camille.clicked{
  top: -5vh;
  left: -54vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.ami.clicked{
  top: -5vh;
  left: -75vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.emma.clicked{
  top: -5vh;
  left: -96vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.empty.clicked{
  top: -26vh;
  left: 9vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.august.clicked{
  top: -26vh;
  left: -12vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.owen.clicked{
  top: -26vh;
  left: -33vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.yiseul.clicked{
  top: -26vh;
  left: -54vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.isaak.clicked{
  top: -26vh;
  left: -75vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.jones.clicked{
  top: -26vh;
  left: -96vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.hatman.clicked{
  top: -47vh;
  left: 9vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.v.clicked{
  top: -47vh;
  left: -12vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.mai.clicked{
  top: -47vh;
  left: -33vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.yumeji.clicked{
  top: -47vh;
  left: -54vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.gaz.clicked{
  top: -47vh;
  left: -75vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}
.simon.clicked{
  top: -47vh;
  left: -96vh;
  width:105vh;
  height:70vh;
  border:transparent solid 10px;
}

.cast-grid {
  border: slategray solid 1vh;
  display: grid;
  grid-template-areas:
    'rei andrew avery camille ami emma'
    'empty august owen yiseul isaak jones'
    'hatman v mai yumeji gaz simon';
  grid-template-rows: 20vh 20vh 20vh;
  grid-template-columns: 20vh 20vh 20vh 20vh 20vh 20vh;
  gap: 1vh;
  height:fit-content;
  width:fit-content;
  padding:0;
  margin:0;
  align-items:stretch;
  background:slategrey;
}

.studentMug, .chapMug{
  max-width:95%;
  max-height:95%;
}

.student > button, .chap > button{
  width:100%;
  height:100%;
  background:none;
  border:none;
  padding:0;
}

.student:hover, .chap:hover{
  filter:brightness(0.7);
  background:#0005;
}

.rei{
  grid-area: rei;
}
.andrew {
  grid-area: andrew;
}
.avery {
  grid-area: avery;
}
.camille {
  grid-area: camille;
}
.ami {
  grid-area: ami;
}
.emma {
  grid-area: emma;
}
.empty {
  grid-area: empty;
}
.august {
  grid-area: august;
}
.owen {
  grid-area: owen;
}
.yiseul {
  grid-area: yiseul;
}
.isaak {
  grid-area: isaak;
}
.jones {
  grid-area: jones;
}
.hatman {
  grid-area: hatman;
}
.v {
  grid-area: v;
}
.mai {
  grid-area: mai;
}
.yumeji {
  grid-area: yumeji;
}
.gaz {
  grid-area: gaz;
}
.simon {
  grid-area: simon;
}